.about-title{
    font-family: cursive;
}
.style-about{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.about-img-card{
    height: 150px;
    width: 150;
}

