.aboutPad{
    padding-left: 19.5%;
    padding-right: 19.5%;
}
.aboutPad h1{
    margin-bottom: 0;
    padding-top: 3%;
}


.aboutImageCenter{
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.about_photo img{
    border-radius: 3%;  
    
}
.about_img{
    width: 500px;
    height: 40vh;
    padding-right: 10px;
    padding-top: 1%;
}
.about_position{
    padding-top: 1%;
    padding-bottom: 3%;
}
.about_intro{
font-size: 26px;
padding-top: 1%;
color: #666c67;
}


