
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Selects all the elements gives it 0 margin 0 padding and no outline */
*{ 
    margin:0px;
    padding:0px;
    outline:none;
}

.main{
    margin-left:300px;
}



body{
    font-family: 'Open Sans', sans-serif;
    padding:0px;
    margin:0px;
}

.admin-title{
    font-size: 1.4rem;
    color:#fff;
    text-align: center;
}

.title-box {
    padding-top:5%;
    background-color:rgb(14, 128, 194) ;
    height:65px;
}

aside{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 5);
    overflow-x: hidden;
}

ul{
    padding:0px;
    margin:0px;
}

ul li{
    font-size: 1.4rem;
    color:rgb(14, 128, 194);
    cursor:pointer;
}

ul li div{
    float:left;
}

/* class called link title */
.linktitle li{
    line-height: 35px;
    padding: 20px 0 20px 0; 
    padding-left: 60px;
}

.linktitle li:hover{
    color: #0b82bd;
    background-color: #fff;
}

/* Link */
.Link{
    text-decoration: none;
}
/* Reponsive menu code */
