
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.navbar{
   background-color: green !important;
}
.dropdown-menu{
    background-color: green !important;
}
.dropdown-menu :hover{
    background-color: green !important;
}

.navbar-light{
    color: white;
}
.navbar-nav a{
    color: white !important;
}

.nav-link {
    color: white;
}


@media only screen and (max-width: 20px){
    .navbar-expand-lg {
        flex-flow: row nowrap ;
        justify-content: flex-start;
    }
}