
/* Selects all the elements gives it 0 margin 0 padding and no outline */
*{ 
    margin:0px;
    padding:0px;
    outline:none;
}

.main{
    margin-left:200px;
}

body{
    padding:10px;
    font-family:'Source Sans Pro', sans-serif;;
    padding:0px;
    margin:0px;
}

.admin-title{
    font-size: 2rem;
    padding:10px 0  15px 0;
    color:#fff;
    text-align: center;
}

aside{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b82bd;
    overflow-x: hidden;
    padding-top: 20px;
}

ul{
    padding:0px;
    margin:0px;
}

ul li{
    font-size: 1.4rem;
    list-style-type:none;
    color:#fff;
    padding:10px;
    padding-left: 25%;
    border-top:1px solid #fff;
    cursor:pointer;
}

ul li div{
    float:left;
}

/* class called link title */
.linktitle li{
    line-height: 35px;
    padding: 20px 0 20px 0; 
    padding-left: 10px;
}

.linktitle li:hover{
    color: #0b82bd;
    background-color: #fff;
}

/* Link */
.Link{
    text-decoration: none;
}
/* Reponsive menu code */
