@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
.title_top{
    padding-top: 35px;
}
.ant-carousel .slick-dots li.slick-active button {
    background: rgb(1, 43, 12);
}
.ant-carousel .slick-dots li button {
    background: green;
}
.Carousel-box{
    display: flex !important;
    justify-content: center;
}
.Carousel-photo{
    background-size: cover;
    width:50%;
}

.style-home{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    font-family: 'Abril Fatface'
}
.style-home span{
    color: green;
    padding-bottom: 10px;
}

.style-line{
    display: flex !important;
    justify-content: center;
}

.style-showcase{
    width: 250px;
    height: 300px;
}

.ant-row{
    padding-top: 40px;
    display: flex !important;
    justify-content: space-between;
}

.button-top {
    padding-top:40px;
}
.button-top span{
    font-size: 20px;
}
.ant-btn {
    height: 100px;
    width: 300px;
}
.salon-top{
    padding-top: 40px;
}

.salon-info {
    font-family: 'Abril Fatface';
    padding-top: 50px;
    text-align: center;
}

.info-icons{
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-icons a{
    color: green;
}
.ant-btn{
    color: green;
}
.ant-btn:hover{
    color: green;
    border: green 3px solid;
}
.Carousel-photo{
    height: 600px !important;
}
.Carousel-box img{
    height: 600px
}
.style_position{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.icon :hover{
color: black;
}

    @media only screen and (max-width: 1400px) {

        .style-showcase{
            width: 150px;
            height: 170px;
        }

        .Carousel-photo{
            width: 600px;
           height: 500px !important;
        }
        .Carousel-box img{
            height: 500px !important;
            width: 600px;
        }
        .title_top{
            padding-top: 25px;
        }
    }


        @media only screen and (max-width: 768px){
            .style-showcase{
                width: 100px;
                height: 120px;
            }
            .Carousel-photo{
                width: 500px;
               height: 400px !important;
            }
            .Carousel-box img{
                height: 400px !important;
                width: 500px;
            }
            .title_top{
                padding-top: 15px;
            }
      
          }
          @media only screen and (max-width: 420px){
            .style-showcase{
                width: 80px;
                height: 100px;
                padding-left: 5px;
            }
            .Carousel-photo{
                width: 300px;
               height: 200px !important;
            }
            .Carousel-box img{
                height: 200px !important;
                width: 300px;
            }
            .style-home h1{
                font-size: 20px;
            }
            .ant-btn{
                width: 150px;
                height: 60px;
            }
            .button-top span{
                font-size: 10px;
            }
            .salon-info h1{
                font-size: 20px;
            }
            .salon-info{
                padding-top: 20px;
            }
      
          }
