@media only screen and (max-width: 1200px){
    .style-showcase{
        width: 44px;
        height: 160px;
    }

    .ant-btn{
        width: 190px;
    }

    .Carousel-photo{
        width: 90vw;
        height: 50vh;
        background-size: cover;
    }
    .slick-list{
        height: 650px;
    }

}


@media only screen and (max-width:800px){
    .ant-btn{
        width: 220px;
    }
    .slick-list{
        height: 290px;
    }
}

@media only screen and (max-width:600px){
    .ant-btn{
        width: 190px;
    }

    .slick-list{
        height: 290px;
    }
}