@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.footer{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    background: darkgreen;
    color: white;
    width: 100vw;
}

.footer-div{
    margin-top: 20px;
}