
.line-style{
    display: flex;
    justify-content: center;
}
.title-gallery-center{
    text-align: center;
    font-family: cursive;
}
.item-gallery-center {
    padding-left: 1.8%;
}



/* hovering img card */

.cards{
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 25px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translatez(0);
    transition: transform 0.25s ease-out;
}



.card:hover{
    transform: scale(1.05);
}