.ant-card-body{
    padding: 0 !important;
}

.price_background{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: seagreen important!;
}

.pricePad{
    padding-left: 15%;
}

.pricePadding{
    padding-top: 4.4%;
}

.priceList{
    width: 450px;
    text-align: center; 
    padding-left: 5%;
    padding-right: 5%;
}

.priceList h2{
    color: green;
}


.menu_price{
display: flex;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 30px !important;

}

.menu_price img{
width: 280px;
height: 330px !important;
}

.menu_cut_img {
    position: relative;
    margin-right: 15px;
  }
  .menu_cut_img .active_cut {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 2.5s; 
  }
  .menu_cut_img:hover .active_cut {
    opacity: 1;
    width: 280px;
height: 330px !important;
  }
  
  .menu_perm_img {
    position: relative;
  }
  .menu_perm_img .active_perm {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 2.5s; 
  }
  .menu_perm_img:hover .active_perm {
    opacity: 1;
    width: 280px;
height: 330px !important;
  }


  .menu_color_img {
    position: relative;
    margin-right: 15px;
  }
  .menu_color_img .active_color {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 2.5s; 
  }
  .menu_color_img:hover .active_color {
    opacity: 1;
    width: 280px;
height: 330px !important;
  }


@media only screen and (max-width: 380px) {
    .menu_price{
        display: block;
        }

}