.ant-card-body{
    padding: 0 !important;
}

.price_background{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: seagreen important!;
}

.pricePad{
    padding-left: 15%;
}

.pricePadding{
    padding-top: 4.4%;
}

.priceList{
    width: 450px;
    text-align: center; 
    padding-left: 5%;
    padding-right: 5%;
}

.priceList h2{
    color: green;
}

