@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

.footer{
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#eee;
    padding-right: 20px;
}