
#nav_bar_main{
    height: 90px;
    background: linear-gradient(to right,#218132, #1d802f,#1b752b,#1c832f,#209435,#1faa38,#198b2e);
border-bottom: 2px solid silver;
}
.nav_bar_nest{
    float:right;
}

.ant-menu-horizontal{
    border-bottom: 0 !important;
}