
.ti{
    margin: 0px;
    padding:0;
}
#test{
    background: linear-gradient(to right, #45ce5e, #a8ff78);
    
    
}
.testing{
    float:right;
}

.ant-menu-horizontal{
    border-bottom: 0 !important;
}