@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
.blogFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.blogTitle{
    font-family: 'Abril Fatface';
  
}
.blog_title_contents{
    color: green;
    border-bottom: dotted 0.5px rgb(71, 71, 71);
    padding-bottom: 5px;
}
.blog_contents{
    font-size: 25px;
}


.blogFlex img{
    width: 500px;
    height: 300px;
}

.blogStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 10%;
    border-bottom: 1px green solid;
}

.blogStyle:nth-last-child(1){
    border-bottom: none;
    padding-bottom: 0;
}

.blogStyle h3{
    text-align: center;

}

.ant-btn-primary{
    background-color:green !important;
    border-color: none;
    width: 150px !important;
    height: 50px !important;
}

.btnPad{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}


@media only screen and (max-width: 600px) {
    .blogFlex img{
        width: 200px;
        height: 100px;
    }
    .blogCol h3{
        font-size: 1.2em;
    }
    .blogCol p{
        font-size: 0.8em;
    }
    .blog_contents{
        font-size: 15px;
    }
  }