
.blogFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}


.blogFlex img{
    width: 80%;
}

.ant-btn-primary{
    background-color:green !important;
    border-color: none;
    width: 50px !important;
    height: 50px !important;
}

.btnPad{
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}